.App {
  text-align: center;
  width: 100%;
  max-width: 1200px;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.search-form {
  display: flex;
  width: 95%;
  position: relative;
  align-items: center;
}

.input__box {
  width: 100%;
  border-radius: 50px;
  padding: 20px 30px;
  font-size: 25px;
  border: none;
  transition: 0.2s;
}

.input__box:focus {
  outline: none;
}

.input_submit {
  position: absolute;
  margin: 12px;
  right: 50px;
  border: none;
  font-size: 15px;
  background-color: brown;
  color: white;
  transition: 0.2s all;
}

.input_submit:hover {
  background-color: rgb(117, 25, 25);
}

.input_submit:active {
  transform: scale(0.8);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
